$blackColor: #4e4e4e;
$primary: #4e4e4e;
$secondary: rgb(100,100,200);
$secondary-opaque: rgba(100,100,200,0.2);
$light-grey: rgba(200,200,200,0.6);

body {
    background-color: rgb(242,242,242);
    color: $primary;

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


@media screen and (min-width: 1000px){
    .container{
        grid-template-columns: auto auto;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (min-width: 1200px){
    .container{
        grid-template-columns: auto auto auto;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (min-width: 1400px){
    .container{
        grid-template-columns: auto auto auto;
        margin-left: 15%;
        margin-right: 15%;
    }
}
.container{
    display: grid;
    margin-top: 40px;
    .artist{
        margin-top: 40px;
        position: relative;
        justify-self: center;
        align-self: center;
        padding: 8px;
        border: 1px solid grey;
        background-color: rgba(255,255,255,0.2);
        border-radius: 8px;
        img{
            width: 280px;
            height: 340px;
            object-fit: cover;
            border-radius: 16px;
        }
        p{
            color: grey;
            font-style: italic;
            padding: 8px;
        }
        button{
            cursor: pointer;
            width: 90%;
            padding: 8px;
            outline: none;
            border: 1px solid grey;

            &:hover{
                background-color: $secondary-opaque;
            }
        }
    }
}

.gallery-icons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    top: 20px;
    left: 0px;
    div{
        background-color: rgba(255,255,255,0.05);
        padding: 4px;
        border-radius: 20px;
        path{
            fill: white;
            transition: fill 0.1s;
        }
        &:hover{
            path{
                fill: $secondary;
            }
        }
    }

}

.icon{
    // fill: white;
    font-size: 2em;
    cursor: pointer;
    transition: fill 0.1s;
    &:hover{
        fill: rgba(200,100,200,1);
    }
}

// HEADER
header{
    path{
        fill: $blackColor;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    h1{
        display: flex;
        align-items: center;
        div:last-child{
            color: $blackColor;
            border: 1px solid $blackColor;
            border-radius: 2px;
            padding: 4px;
        }
    }

    #addArtist{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        cursor: pointer;

        border-radius: 16px;
        transition: background-color 0.2s;

        &:hover{
            background-color: rgba(180,180,180,0.3);
        }
    }
}

.addModal{
    .addContent{
        .artist{
            .addImage{
                width: 280px;
                height: 340px;
                background-color: rgba(100,100,100,0.4);
                border-radius: 4px;
                margin-bottom: 16px;

                transition: background-color 0.2s;
                cursor: pointer;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                path{
                    fill: white;
                }
                
                p{
                    font-style: normal;
                    color: white;
                }

                p:last-child{
                    display: none;
                }
                
                overflow: hidden;
                &:hover{
                    background-color: rgba(100,100,200,0.4);
                }
            }
        }
    }
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100,100,100,0.4);

    .modal-content{
        background-color: rgb(240,240,240);
        padding: 48px;
        padding-top: 10px;
        border-radius: 4px;
    
        display: flex;
        flex-direction: column;

        position: relative;

        h2{
            font-weight: normal;
        }

        .modal-close-icon{
            position: absolute;
            right: 12px;
            align-self: flex-end;
            cursor: pointer;
            font-size: 1.25em;
            path{
                fill: $primary;
            }
            &:hover{
                path{
                    fill: $secondary;
                }
            }
        }
    
        .artist{
            padding: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 8px;
    
            border-color: rgba(100,100,100,0.5);
            input{
                background-color: rgba(0,0,0,0);
                outline: none;
                border: none;
                border-bottom: 1px solid rgba(100,100,100,0.9);
                padding: 2px;
                margin: 6px;
                font-size: 1.05em;
                width: 95%;

                &:focus{
                    border-bottom: 1px solid $secondary;
                }
            }
            button{
                margin-top: 32px;
                margin-bottom: 16px;
                width: 80%;
                transition: background-color 0.2s;
                border: none;
                outline: none;
                background-color: $light-grey;
                &:hover{
                    background-color: rgba(100,100,200,0.4);
                }
            }
        }
    }
}

.deleteModal{
    .deleteContent{
        .deleteIcons{
            display: flex;
            justify-content: space-around;
            font-size: 2.4em;

            div:first-child{
                path{
                    fill: rgb(200,100,100);
                }
            }
            
            div:last-child{
                path{
                    fill: rgb(100,200,100)
                }
            }
        }
    }
}